<h1>Chat</h1>
<div style="width: 500px;">
  <div id="chat_room" style="margin: 0 10px; border: 1px solid black; height: 200px; padding: 5px; overflow-y:scroll; overflow-wrap: break-word;"></div>
  <div style="margin: 15px 10px;">
    <textarea id="input_box" style="width: 100%; box-sizing: border-box;" rows="5" placeholder="Press enter to send"></textarea>
  </div>
</div>