.roundMarker {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;

  @include noselect();

  &.unstarted {
    color: silver;
  }

  &.active {
    border: 3px solid black;
    cursor: pointer;
  }

  &.success {
    color: blue;
    background-color: $good-color;
    cursor: pointer;
  }

  &.failure {
    color: red;
    background-color: $evil-color;
    cursor: pointer;
  }
}