@import './app/assets/styles/app-variables.scss';

.player {
  text-align: center;

  .iconWrapper {
    padding: 5px 0 0 0;
    border: 1px solid black;

    .icon {
      width: 60px;
      height: auto;
    }
  }

  .name {
    font-weight: bold;
    padding: 2px 5px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.6)
  }
}