$success-bg-color: #DDEEFF;
$success-text-color: rgba(10, 60, 150, 0.8);

$fail-bg-color: #FFA8A8;
$fail-text-color: rgba(150, 10, 10, 0.8);

@mixin inset-text($text-color, $bg-color) {
  color: $text-color;
  text-shadow: 1px 4px 6px $bg-color, 0 0 0 #000, 1px 4px 6px $bg-color;
  line-height: 1em;
}

div.inline {
  display: inline-block;
}

.round {
  padding: 10px;
  border-bottom: 1px solid white;
}

.roundNumber {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
  margin-left: 10px;
  vertical-align: top;
}

.success {
  background-color: $success-bg-color;
  
  .roundNumber {
    @include inset-text($success-text-color, $success-bg-color);
  }
}

.fail {
  background-color: $fail-bg-color;

  .roundNumber {
    @include inset-text($fail-text-color, $fail-bg-color);
  }
}

.nomination {
  padding: 10px 0;

  &.rejected {
    border-top: 1px solid rgba(0,0,0,0.15);
  }
}

.nominationTitle {
  position: absolute;
  font-family: Helvetica;
  top: 3px;
  font-size: small;
  font-style: italic;
}

.nominationNumber {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0 20px;
}

.nominationParticipant {
  border: 3px solid transparent;
  vertical-align: bottom;
  padding: 5px;
  margin: 3px;

  &.nominee {
    border: 3px ridge rgba(200,200,200,0.7);
  }
  &.upvote {
    .icon {
      background-color: green;
    }
  }
}

.leader {
  font-size: 16px;
  font-weight: bold;
  text-decoration: line-through;
}