$success-bg-color: #DDEEFF;
$success-text-color: rgba(0,0,0,0.8);
$success-text-inset-color: rgba(10, 60, 150, 0.8);

$fail-bg-color: #8C2E2E;
$fail-text-color: rgba(255,255,255,0.8);
$fail-text-inset-color: rgba(45, 18, 18, 0.8);

@mixin inset-text($text-color, $bg-color) {
  color: $text-color;
  text-shadow: 1px 4px 6px $bg-color, 0 0 0 #000, 1px 4px 6px $bg-color;
  line-height: 1em;
}

div.inline {
  display: inline-block;
}

.round {
  padding: 10px;
  border-bottom: 1px solid white;
}

.roundNumber {
  @extend .darkText;
  font-size: 10em;
}

.outOfNominations {
  @extend .darkText;
  font-size: 2em;
  font-style: italic;
}

.darkText {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: top;
}

.success {
  background-color: $success-bg-color;
  color: $success-text-color;
  
  .darkText {
    @include inset-text($success-text-inset-color, $success-bg-color);
  }
}

.fail {
  background-color: $fail-bg-color;
  color: $fail-text-color;

  .darkText {
    @include inset-text($fail-text-inset-color, $fail-bg-color);
  }
}

.nomination {
  padding: 10px 0;

  &.rejected {
    border-top: 2px solid rgba(0,0,0,0.1);
  }
}

.label {
  position: absolute;
  font-family: Helvetica;
  font-size: small;
  font-style: italic;
}

.roundLabel {
  @extend .label;
  bottom: 3px;
}

.nominationLabel {
  @extend .label;
  top: 3px;
}

.nominationNumber {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin: 0 20px;
}

.nominationParticipant {
  border: 3px solid transparent;
  vertical-align: bottom;
  padding: 5px;
  margin: 3px;

  &.nominee {
    border: 3px ridge rgba(200,200,200,0.7);
    box-shadow: 2px 2px 6px #000;
  }

  .icon {
    background-color: black;
  }
  &.upvote {
    .icon {
      background-color: #00FF00;
    }
  }
}

.leader {
  font-size: 16px;
  text-decoration: line-through;
}