.notification {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
}

.successNotification {
  @extend .notification;
  border-color: green;
}

.failureNotification {
  @extend .notification;
  border-color: red;
}