// This is loaded into all CSS modules via webpack sass-resources-loader
// Any sass variables defined here can be referenced anywhere
$good-color: lightcyan;
$evil-color: lightpink;

div.inline {
  display: inline-block;
}