.participant {
  transition: border 1s ease-out;
  border: 3px solid transparent;

  .selected {
    background-color: green;
    border: 3px ridge gray;
  }

  .selectable {
    &:hover {
      background-color: lightgreen;
    }
  }

  .disabled {
    background-color: black;
  }

  .nominate {
    background-color: lightgreen;
    padding: 10px 2px;
    &:hover {
      background-color: green;
    }
  }
}